<div class="container">
    <h1><%= title %></h1>
    <hr>

    <h2>Site by Amin</h2>
    <p>This Website contains contacts page created for Assignment 2.</p>


    <p>In order to edit the contacts you will have to register an account</p>
    <p>Once you are registered, you have to login and access the Contacts List page to edit</p>
    <p>You can read the contacts page as a logout user</p>
    <p>Check out the About page for information about me</p>
    <p>Check out the Projects page for my projects</p>
    <p>Check out the Services page for my services</p>
</div>